<hr>

<h1 style="font-size: 4rem; font-style: oblique; background: #f5e724" class="col-lg-7 mb-5 mt-5 container text-center">
  Dashboard</h1>
<hr>

<div class="container justify-content-center text-center">
  <button class="col-3 btn-lg bg-success text-white mb-2 px-3 py-1 mr-2 new"
    style="height: 4rem; border-radius: 80px">Create New
    Post</button>
</div>

{{#each posts as |post|}}
<div class="container p-0 card d-flex text-white mb-3 mt-2 col-lg-7"
  style="border-radius: 20px 20px 10px 10px; border: none">
  <div class="text-center card-header bg-primary pt-3 pb-auto" style="border-radius: 20px 20px 0 0">
    <h3>{{post.user.username}}</h3>
  </div>
  <div class="card-body text-dark pl-5">
    <form class="post-link">
      <h5 style="text-decoration:underline" class="card-title"><a href="/posts/{{post.id}}" value="{{post.id}}"
          id="post-id">{{post.post_title}}</a></h5>
    </form>
    <p class="card-text">{{post.post_contents}}</p>
    <section style="display:inline">
      <button class="bg-danger text-white mb-2 px-3 py-1 mr-2 delete" type="submit" value="{{post.id}}"
        style="border-radius: 0;">Delete
        Post</button>
      <button class="bg-secondary text-white mb-2 px-3 py-1 edit" value="{{post.id}}" style="border-radius: 0;">Edit Post</button>
    </section>

  </div>
  <div style="font-style: oblique; color: #919191; border-radius: 0 0 10px 10px"
    class="card-footer bg-light text-center">{{format_time
    post.date_created}}</div>
</div>
<hr>
{{/each}}

<script src="/js/editPost.js"></script>